<footer class="footer">
    <div class="container">
        <div class="footer-grid">
            <div class="footer-info grid-item">
                <div class="contact-mail">
                    masil@maile.ru
                </div>
                <div class="contact-tel">
                    7 (900) 499 32 08
                </div>
                <div class="time-working">
                    Пн-Пят 9:00 - 19:00
                </div>
            </div>
            <div class="footer-menu grid-item">
                <ul class="bottom-menu">
                    <li class="bottom-menu_item">
                        <a href="#">Главная</a>
                    </li>
                    <li class="bottom-menu_item">
                        <a href="#">Каталог</a>
                    </li>
                    <li class="bottom-menu_item">
                        <a href="#">Акции</a>
                    </li>
                    <li class="bottom-menu_item">
                        <a href="#">О нас</a>
                    </li>
                </ul>
            </div>
            <div class="footer-contacts grid-item">
                <ul class="contacts-list">
                    <li class="contacts-list_item">
                        г.Тамбов ул.Мичуринская д.311
                    </li>
                    <li class="contacts-list_item">
                        instagram: @userName
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <h6>by Alexander Baranov 2020</h6>
        </div>
    </div>
</footer>