<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="header__top-info">
                <div class="top-info__item">
                    <img src="./images/icons/phone-icon.svg" alt="">
                    <span>+7 (900) 499 32 08</span>
                </div>
                <div class="top-info__item">
                    <img src="./images/icons/map-marker-icon.svg" alt="">
                    <span>г.Тамбов ул.Агапкина д.17А</span>
                </div>
                <div class="top-info__item info-socials">
                    <div class="social-icon">
                        <img src="./images/icons/instagram-icon.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header__menu">
        <div class="container top-menu-container">
            <nav class="top-menu">
                <li class="top-menu__item menu__item menu__item--active">
                    <a href="/">Главная</a>
                </li>
                <li class="top-menu__item menu__item">
                    <a href="/catalog" data-name="{{title}}">Каталог</a>
                </li>
                <li class="top-menu__item menu__item">
                    <a href="/news">Акции</a>
                </li>
                <li class="top-menu__item menu__item">
                    <a href="/about">О нас</a>
                </li>
            </nav>
        </div>
    </div>
</header>