{{#> layout}}
    <div class="app-contaier">
        <div class="container">
            <div class="sales-list_wrapper">
                <h1>Последние новости и акции</h1>
                <ul class="sales-list">
                    <li class="sales-list_item">
                        <div class="sale-card card">
                            <h2 class="sale-card_title">
                                <a href="#">Загаловок новости 1</a>
                            </h2>
                            <div class="sale-card_pre-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim,
                                    neque pulvinar molestie mattis, neque purus accumsan ex, in condimentum magna eros ac odio.
                                    Morbi in aliquam lorem. Quisque gravida eu magna ut cursus. Suspendisse potenti.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim,
                                    neque pulvinar molestie mattis, neque purus accumsan ex, in condimentum magna eros ac odio.
                                    Morbi in aliquam lorem. Quisque gravida eu magna ut cursus. Suspendisse potenti.
                                </p>
                            </div>
                            <img class="sale-card_img" src="https://img1.goodfon.ru/original/2560x1600/2/5c/festival-of-colors-prazdnik.jpg" alt="">
                            <div class="sale-card_date">
                                2020-04-15 16:45
                            </div>
                        </div>
                    </li>
                    <li class="sales-list_item">
                        <div class="sale-card card">
                            <h2 class="sale-card_title">
                                <a href="#">Загаловок новости 1</a>
                            </h2>
                            <div class="sale-card_pre-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim,
                                    neque pulvinar molestie mattis, neque purus accumsan ex, in condimentum magna eros ac odio.
                                    Morbi in aliquam lorem. Quisque gravida eu magna ut cursus. Suspendisse potenti.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim,
                                    neque pulvinar molestie mattis, neque purus accumsan ex, in condimentum magna eros ac odio.
                                    Morbi in aliquam lorem. Quisque gravida eu magna ut cursus. Suspendisse potenti.
                                </p>
                            </div>
                            <img class="sale-card_img" src="https://img1.goodfon.ru/original/2560x1600/2/5c/festival-of-colors-prazdnik.jpg" alt="">
                            <div class="sale-card_date">
                                2020-04-15 16:45
                            </div>
                        </div>
                    </li>
                    <li class="sales-list_item">
                        <div class="sale-card card">
                            <h2 class="sale-card_title">
                                <a href="#">Загаловок новости 1</a>
                            </h2>
                            <div class="sale-card_pre-text">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim,
                                    neque pulvinar molestie mattis, neque purus accumsan ex, in condimentum magna eros ac odio.
                                    Morbi in aliquam lorem. Quisque gravida eu magna ut cursus. Suspendisse potenti.
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim,
                                    neque pulvinar molestie mattis, neque purus accumsan ex, in condimentum magna eros ac odio.
                                    Morbi in aliquam lorem. Quisque gravida eu magna ut cursus. Suspendisse potenti.
                                </p>
                            </div>
                            <img class="sale-card_img" src="https://img1.goodfon.ru/original/2560x1600/2/5c/festival-of-colors-prazdnik.jpg" alt="">
                            <div class="sale-card_date">
                                2020-04-15 16:45
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{{/ layout}}